@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* If we apply padding or margin, border-box means that it doesn't affect the width of it */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /* no scroll bars shown by default */
    overflow: hidden;
    margin: 0;
}